/* app css stylesheet */

@import "utils.less";
@import "product.less";
@import "profile.less";
@import "auction.less";
@import "home.less";

@font-face {
    font-family: markMyWords;
    src: url('../fonts/mark_my_words.ttf');
}

html,
body {
    margin: 0;
    height: 100%;
}

.content {
    margin-top: 100px;
    padding-bottom: 100px; /* Height of the footer element */
    min-height: calc(~'100vh - 100 px')!important;

    @media only screen and (max-width: 768px) {
        margin-top: 50px;
    }
}

.footer {
    background: #05283F;
    min-height: 250px;
    position: relative;

    h1{
        color: #d9edf7;
        font-size: 16pt;
    }

    a {
        color: #9acfea;
    }

    .copyright {
        position: absolute;
        color: #f0f0f0;
        bottom: 0;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}


