@import "settings.less";

.auction {
    .container {
        padding-top: 20px !important;
    }

    .distance {
        h2 {
            font-size: 15pt;
            font-weight: normal;

            b {
                font-size: 18pt;
            }
        }

    }

    .container {
        .auction-form {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 35px;

            .btn-warning {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

    }


    .section {
        padding-top: 8%;
        padding-bottom: 8%;

        border-bottom: solid #cdcdcd 1px;

        h1 {
            font-size: 30pt;
        }

        .uib-timepicker {
            margin-left: auto;
            margin-right: auto;
        }

        .btn-success {
            background: #2ECC71;
            font-weight: bold;
        }

        .btn-success:hover {
            background: #53df81;
            font-weight: bold;
        }

        .table {
            border: solid #adadad 2px;
        }

        .step-image {
            max-width: 200px;
            max-height: 200px;

            width: 20%;
            height: 20%;
        }

        .cover-image {
            max-width: 120px;
            max-height: 120px;

            padding-left: 10px;
            padding-right: 10px;

            border: solid #cacaca 1px;
        }

        .cover-image:hover {
            border: solid #e38d13 1px;
        }

    }

    .opened {
        color: #FFFFFF;
        background: #00CF92;
    }

    .closed {
        color: #0e0e0e;
        background: #a8a8a8;
    }

    .scheduled {
        color: #FFFFFF;
        background: #016DB8;
    }

    .canceled {
        color: #FFFFFF;
        background: #b80e03;
    }

    .title {
        color: #05283F;
        font-size: 20pt;
    }

    .auction-info {
        .details {
            border: solid 1px #DDDDDD;

            .btn-facebook {
                margin-bottom: 15px;
            }

            .value {
                > p {
                    font-size: 40px;

                    @media mobile {
                        font-size: 20px;
                    }
                }

                table {
                    border: 0;
                    width: 100%;
                    margin-bottom: 0;
                }
            }

            .counter {

                font-size: 20px;
                width: 100%;

                @media @tablet {
                    font-size: 30px;
                }

                @media @desktop-xl {
                    font-size: 40px;
                }

                p {
                    font-size: 25px;
                }
            ;

            }

            .button > .btn {
                height: 50px;
                font-size: 20px;
                background-color: #00CF92;

                @media @mobile {
                    height: 50px;
                    font-size: 20px;
                }
            }

            .button > .btn:hover {
                background: #40D7AB;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .info-icon {
        display: block;
        margin: 0 auto;
        width: 20%;
    }

    h2 {
        font-size: 14pt;
        font-weight: bold;
    }

    .panel-body {
        padding-top: 0;

        > .row {
            border-bottom: solid 1px #DDDDDD;
            min-height: 30vh;

            padding-top: 5px;
            padding-bottom: 40px;

            .title h1 {
                font-size: 16pt;
                margin-bottom: 20px;
            }

            .icon {
                width: 70%;
                margin-left: 15%;
                margin-right: 15%;
            }

            .uib-timepicker {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.auction-card {
    .image {
        background-image: url("../images/picture.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .thumbnail-square {
            left: 0;
            right: 0;
            top: 0;
            right: 0;
        }
    }

    .counter {
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;

        timer {
            font-size: 30px;
            width: 100%;
            @media @mobile {
                font-size: 10px;
            }
        }

    }

    .value {
        -webkit-margin-before: 0 !important;
        -webkit-margin-after: 0 !important;
        font-size: 30px;
        width: 100%;

        @media @mobile {
            font-size: 10px;
        }
    }
}

.auction-card:hover {
    cursor: pointer;
}
