.content
{
    .cover {
        .cover-image
        {
            background-image: url("images/index_cover.jpg");
            background-size: 100% 600px;
            background-repeat: no-repeat;
        }
    }
}
