.login-box {
    background-size: cover; /* Sets background image to cover entire element */
    background-image: url("../images/login-bidding.png");
    background-repeat: no-repeat;
    background-position: center;

    min-height: 50vh;

    border-radius: 15px 15px 15px 15px;

    padding-top: 5%;

    h1 {
        color: #ffffff;
        text-shadow: 2px 2px #0f0f0f;
        text-align: center;
    }
}
