.drop-box {
    height: 10em;
    border: dotted #2b669a;

    border-radius: 25px;

    transition: border 850ms;
}

.drop-box:hover {
    border: dotted #9acfea;
    border-radius: 25px;

    transition: border 850ms;
}

.product-image .btn {
    margin-top: 3em !important;
}

.product-action {
    margin-top: 1em;
    margin-bottom: 1em;
}
