.profile-actions {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
}

.profile-actions ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.profile-actions li {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    width: 100% !important;
    border-right: solid 3px #FF9505;

    /* ----------- Transitions ----------- */
    transition: border-right 0.15s;
}

.profile-actions li:hover {
    border-right: solid 3px #016FB9;

    /* ----------- Transitions ----------- */
    transition: border-right 0.15s;
}

.profile-sidebar {
    padding: 0 0 0 0 !important;
}

.profile-sidebar img {

}
