<div class="institution">
    <div class="container no-padding">
        <div class="cover">

        </div>

        <div class="logo-background v-m-parent">
            <div class="logo v-m-child"
                 ng-style="{'background-image': 'url(data:image/*;base64,'+institutionDetailCtrl.institution.logo+')'}">
                <!--img ng-src="data:image/*;base64,{{institutionDetailCtrl.institution.logo}}" data-pin-no-hover="true"  alt=""-->
            </div>
        </div>


        <div class="about">
            <div class="col-lg-8 col-md-10 col-sm-12 col-centered">


                <h2 class="title"> {{institutionDetailCtrl.institution.name}}</h2>

                <h3>Sobre:</h3>
                <p>
                    {{institutionDetailCtrl.institution.about}}
                </p>

                <h3>Localidade:</h3>
                <p>
                    {{institutionDetailCtrl.institution.city}}, {{institutionDetailCtrl.institution.state}}

                </p>

                <h3>Responsável:</h3>
                <p>
                    {{institutionDetailCtrl.institution.responsible}}
                </p>

                <h3>Contato</h3>
                <p>
                    {{institutionDetailCtrl.institution.telephone}}
                </p>

                <h3>Saiba mais</h3>
                <a target='blank' href='http://{{institutionDetailCtrl.institution.page}}'>
                    {{institutionDetailCtrl.institution.page}}
                </a>

            </div>
        </div>
    </div>
</div>
