<div class="row full-section no-padding no-margin profile-header v-m-parent">
    <div class="container v-m-child">


        <div class="col-md-12 col-lg-12 v-m-child"  ng-controller="ProfilePicture as profile">
            <div class="v-m-parent">
                <div class="profile-image v-m-child">
                    <a href="#/user">
                        <img src="{{profile.profilePicture}}" class="img-responsive">
                    </a>
                </div>
                <div class="profile-greetings v-m-child">
                    <h1>{{profile.user.name}}</h1>
                </div>
            </div>
        </div>
    </div>

</div>
