<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Informações Básicas
        </div>
    </div>

    <div class="panel-body">
        <form ng-submit="userCtrl.saveUser(userCtrl.user)">

            <br>
            
            <!-- Informações Básicas -->
            <div class="container-fluid">
                <!-- Nome -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
                        <label for="user_name">Nome:</label>
                        <input type="text" class="form-control" ng-model="userCtrl.user.name" id="user_name"
                               placeholder="Ex: seuemail@exemplo.com" required>
                    </div>
                </div>
            </div>

            <!-- Aniversário -->
            <div class="container-fluid">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="user_birthday">Aniversário:</label>
                        <input type="date" class="form-control" id="user_birthday" ng-model="userCtrl.user.birthday" required>
                    </div>
                </div>
            </div>

            <div class="container-fluid text-right">
                <div class="margin-default">
                    <input type="submit" class="btn btn-sm btn-success" value="Salvar"/>
                </div>
            </div>
        </form>
    </div>
</div>
