<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Endereços:
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td class="col-sm-11" ng-click="isCollapsed = !isCollapsed">
                    <p>
                        Rua: Presidente Faria nº2079, casa 02 <br>
                        Bairro: Colônia Faria <br>
                        Cidade: Colombo UF:PR <br>
                    </p>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-xs btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
