<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title text-left">
            Endereços:
            <div class="input-group-btn text-right">
                <button class="btn btn-success" ng-click="addressCtrl.newAddress()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>
        <div class="">
        </div>

    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr ng-repeat="address in addressCtrl.user.addressList">
                <td class="col-sm-11"
                    ng-click="addressCtrl.showAddress(address)">
                    <p>
                        Rua:{{address.street}}, {{address.complement}} <br>
                        Bairro: {{address.neighborhood}}<br>
                        Cidade: {{address.city}} UF:{{address.state}}<br>
                    </p>
                </td>
                <td class="col-sm-1">
                    <button ng-click="addressCtrl.deleteAddress(address)" class="btn btn-xs btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
