<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Endereços de email:
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr ng-repeat="email in contactCtrl.user.emailList">
                <td class="col-sm-11" ng-click="isCollapsed = !isCollapsed">
                    {{email.email}}
                </td>
                <td class="col-sm-1 text-center">
                    <button ng-click="contactCtrl.deleteEmail(email)" class="btn btn-xs btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div class="container-fluid">
            <form class="form-inline" ng-submit="contactCtrl.addEmail()">
                <div class="form-group">
                    <label for="user_email">Novo Email:</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="user_email"
                               ng-model="contactCtrl.emailToAdd.email" required>

                        <span class="input-group-btn">
                            <button  class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
