<div class="panel panel-default panel-collapse" uib-collapse="addressCtrl.isCollapsed">
    <form class="panel-body" ng-submit="addressCtrl.saveAddress()">
        <br>
        <!-- Endereço -->
        <div class="container-fluid">
            <!-- Rua -->
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="form-group">
                    <label for="user_address_street">Rua:</label>
                    <input type="text" class="form-control" id="user_address_street"
                           ng-model="addressCtrl.addressToAdd.street" required>
                </div>
            </div>

            <!-- Número -->
            <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="form-group">
                    <label for="user_address_number">Número:</label>
                    <input type="text" class="form-control" id="user_address_number"
                           ng-model="addressCtrl.addressToAdd.number" required>
                </div>
            </div>

            <!-- Complemento -->
            <div class="col-sm-12 col-md-12 col-lg-4 ">
                <div class="form-group">
                    <label for="user_address_number">Complemento:</label>
                    <input type="text" class="form-control" id="user_address_complement"
                           ng-model="addressCtrl.addressToAdd.complement" required>
                </div>
            </div>

            <!-- Bairro -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="form-group">
                    <label for="user_address_neighborhood">Bairro:</label>
                    <input type="text" class="form-control" id="user_address_neighborhood"
                           ng-model="addressCtrl.addressToAdd.neighborhood" required>
                </div>
            </div>

            <!-- Cidade -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="user_address_neighborhood">Cidade:</label>
                    <input type="text" class="form-control" id="user_address_city"
                           ng-model="addressCtrl.addressToAdd.city" required>
                </div>
            </div>

            <!-- Estado -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="user_address_state">Estado:</label>
                    <select class="form-control" id="user_address_state"
                            ng-model="addressCtrl.addressToAdd.state" required>
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
            </div>

            <!-- CEP -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="user_address_zipcode">CEP:</label>
                    <input type="text" class="form-control" id="user_address_zipcode"
                           ng-model="addressCtrl.addressToAdd.cep" required>
                </div>
            </div>

            <div class="container-fluid text-right">
                <div class="margin-default">
                    <div class="btn btn-sm btn-danger" ng-click="addressCtrl.discartChanges()"><i class="fa fa-close">&nbsp; Descartar</i></div>
                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check">&nbsp; Salvar</i></button>
                </div>
            </div>
        </div>
    </form>

</div>
