<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Telefones:
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td class="col-sm-11" ng-click="isCollapsed = !isCollapsed">
                    (11) 11111-1111
                </td>
                <td class="col-sm-1 text-center">
                    <button class="btn btn-xs btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="col-sm-11" ng-click="isCollapsed = !isCollapsed">
                    (22) 2222-2222
                </td>
                <td class="col-sm-1 text-center">
                    <button class="btn btn-xs btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div class="container-fluid">
            <form class="form-inline" action="">
                <div class="form-group">
                    <label for="user_phone">Novo Telefone:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="user_phone"
                               ng-model="userCtrl.user.phone">

                        <span class="input-group-btn">
                            <button class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
