<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Telefones:
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr ng-repeat="telephone in contactCtrl.user.telephoneList">
                <td class="col-sm-11" ng-click="isCollapsed = !isCollapsed">
                    {{telephone.telephone | telephoneMask}}
                </td>
                <td class="col-sm-1 text-center">
                    <button
                        class="btn btn-xs btn-danger"
                        mwl-confirm
                        title="Atenção!!"
                        message="Deseja realmente realizar essa ação?"
                        confirm-text="Confirmar"
                        cancel-text="Cancelar"
                        on-confirm="contactCtrl.deleteTelephone(telephone)"
                        confirm-button-type="danger"
                        placement="left"
                        cancel-button-type="default">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div class="container-fluid">
            <form class="form-inline" ng-submit="contactCtrl.addTelephone()">
                <div class="form-group">
                    <label for="user_phone">Novo Telefone:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="user_phone"
                               ng-model="contactCtrl.telephoneToAdd.telephone" ui-br-phone-number required>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
