<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title text-left">
            Endereços:
            <div class="input-group-btn pull-right">
                <button ng-if="!(addressCtrl.user.addressList.length>0)" class="btn btn-xs btn-success" ng-click="addressCtrl.newAddress()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr ng-repeat="address in addressCtrl.user.addressList">
                <td class="col-sm-11"
                    ng-click="addressCtrl.showAddress(address)">
                    <p>
                        <b>Rua</b>: {{address.street}}, {{address.number}} - {{address.complement}} <br>
                        <b>Bairro</b>: {{address.neighborhood}}<br>
                        <b>Cidade</b>: {{address.city}} - {{address.state}}<br>
                        <b>CEP</b>: {{address.cep}}<br>
                    </p>
                </td>
                <td class="col-sm-1">

                    <button
                        class="btn btn-xs btn-danger"
                        mwl-confirm
                        title="Atenção!!"
                        message="Deseja realmente realizar essa ação?"
                        confirm-text="Confirmar"
                        cancel-text="Cancelar"
                        on-confirm="addressCtrl.deleteAddress(address)"
                        confirm-button-type="danger"
                        placement="left"
                        cancel-button-type="default">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
