<div class="panel profile-sidebar">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <img src="images/user_profile.jpg" class="img-responsive">
            </div>

            <div class="profile-actions">
                <ul class="nav nav-pills nav-stacked .nav-justified">
                    <li class=""><a ng-href="user/">Informações</a></li>
                    <li class=""><a ng-href="auction/">Leilões</a></li>
                    <li class=""><a ng-href="products/">Produtos</a></li>
                    <li class=""><a ng-href="#">Pedidos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
