<div class="col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Menu:
            </div>
        </div>

        <div class="panel-body">
            <div>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/user">Resumo</a></li>
                    <li><a href="#/user/purchases">Minhas Compras</a></li>
                    <li><a href="#/user/products" >Minhas Doações</a></li>
                    <li><a href="#/user/bids" >Meus Lances</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
