<div class="auction">
    <div class="container">
        <form class="form row">
            <div class="form-group col-sm-8 col-md-10">
                <label for="search" class="control-label">Buscar por: </label>
                <input type="text" class="form-control" id="search" placeholder="">
            </div>

            <div class="form-group col-sm-4 col-md-2">
                <label for="order" class=" control-label">Ordenar: </label>
                <select class="form-control" id="order" placeholder="">
                    <option value=""></option>
                    <option value="">Nome</option>
                    <option value="">Leilões Abertos</option>
                    <option value="">Menor Preço</option>
                    <option value="">Maior Preço</option>
                </select>
            </div>
        </form>

        <div class="container-fluid">
            <div class="loading" ng-show="!auctionListCtrl.auctionList">

            </div>


            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3"
                 ng-repeat="auction in auctionListCtrl.auctionList | filter:{status:'!canceled'} | orderBy:endDate">


                <div class="panel panel-default auction-card">
                    <div class="col-xs-12 image">
                        <div class="dummy"></div>
                        <div class="thumbnail-square"
                             ng-style="{'background-image': 'url(data:image/*;base64,{{auction.image}})'}">
                        </div>
                    </div>

                    <div class="counter text-center" ng-class="{
                            opened: (auction.status === 'active'),
                            closed: (auction.status === 'closed'),
                            scheduled: (auction.status === 'pending')
                         }">

                        <div class="text-center">
                            <span ng-if="auction.status === 'active'">Termina em</span>
                            <span ng-if="auction.status === 'pending'">Começa em</span>
                            <span ng-if="auction.status === 'closed'">Finalizado</span>
                        </div>

                        <timer countdown="auction.duration"
                               max-time-unit="'hour'"
                               interval="1000">
                            {{hours}}:{{minutes}}:{{seconds}}
                        </timer>
                    </div>

                    <div class="value text-center">
                        {{auction.maxBid ? auction.maxBid : auction.minimumBid| currency:'R$ '}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
