<div class="container">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3"
         ng-repeat="auction in auctionListCtrl.auctionList | filter:{status:'!closed'} | orderBy:endDate">

        <div class="panel panel-default auction-card">
            <div class="value text-center">
                <span ng-if="auction.status === 'active'">Termina em</span><span ng-if="auction.status === 'pending'">Começa em</span>
            </div>

            <div class="panel-image">
                <img ng-src="data:image/*;base64,{{auction.image}}" class="img-responsive" alt="">
            </div>

            <div class="counter text-center">
                <timer countdown="auction.duration"
                       max-time-unit="'hour'"
                       interval="1000">
                    {{hours}}:{{minutes}}:{{seconds}}
                </timer>
            </div>

            <div class="value text-center">
                {{auction.maxBid ? auction.maxBid : auction.minimumBid| currency:'R$ '}}
            </div>
        </div>
    </div>

</div>
