<div class="container">

    <div class="container-fluid auction">
        <form class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 wizard" ng-submit="auctionCtrl.addAuction()">


            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- Product Section -->
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h1>Doação</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-bag.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">

                            <label for="auction_product">
                                Escolha qual dos seus produtos você irá leiloar:
                            </label>

                            <select class="form-control" id="auction_product"
                                    ng-options="product as product.title for product in auctionCtrl.user.productList | filter:{status:'pending'}"
                                    ng-model="auctionCtrl.product" >
                            </select >

                            <br>

                            Não tem produtos cadastrados?
                            <a href="#/user/products/add">
                                Criar novo produto
                            </a>
                        </div>
                    </div>

                    <!-- Institution Section -->
                    <div class="row">
                        <div class="col-sm-12 title">
                            <h1>Instituição</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-institution.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <p>
                                Atualmente, nosso único parceiro para recebemento das doações, é o TETO. Você pode
                                conhecer
                                mais sobre o trabalho deles através do link:<br>

                                <a href="http://www.techo.org/paises/brasil/">http://www.techo.org/paises/brasil/</a>
                            </p>

                            <br>

                            <div class="checkbox">
                                <label><input type="checkbox" required><b>EU ACEITO que o valor seja entregue ao
                                    TETO.</b></label>
                            </div>
                        </div>
                    </div>

                    <!-- Starting Price Section -->
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h1>Valor Inicial</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-price.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <label for="auction_price"> Qual o valor inicial? R$ </label>
                            <input type="number" class="form-control" id="auction_price" min="5.0" step="0.01"
                                   placeholder="Ex: R$ 50,00" ng-model="auctionCtrl.auctionToAdd.minimumBid" required>
                        </div>
                    </div>

                    <!-- Date Section -->
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h1>Data de Inicio e Tempo de leilão</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-date.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                                <label> Quando será iniciado seu leilão?</label>
                                <p>{{auctionCtrl.dt | date:'fullDate' }}</p>
                                <div style="display:inline-block;">
                                    <div uib-datepicker ng-model="auctionCtrl.dt"
                                         datepicker-options="auctionCtrl.options"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                                <b>Hora de Início:</b>

                                <div uib-timepicker ng-model="auctionCtrl.dt" ng-change="auctionCtrl.changed()"
                                     hour-step="auctionCtrl.hstep"
                                     minute-step="auctionCtrl.mstep"
                                     show-meridian="auctionCtrl.ismeridian"
                                     class="col-centered"></div>

                                <br>

                                <label> Tempo ativo:</label>
                                <select ng-model='auctionCtrl.finalTimeToAdd' ng-init="2" class="form-control">
                                    <option value="0.25">6h</option>
                                    <option value="0.5">12h</option>
                                    <option value="1">24h</option>
                                    <option value="2">2d</option>
                                    <option value="7">7d</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <!-- Shipping Section -->
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h1>Envio</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-send.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <p>
                                Neste primeiro momento, o envio é combinado entre o
                                comprador e o doador.
                            </p>
                        </div>
                    </div>

                    <!-- Finish Section -->
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h1>Tudo certo?!</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-finish.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <table class="table table-striped">
                                <tr>
                                    <td><b>Produto:</b></td>
                                    <td>{{auctionCtrl.product.title}}</td>
                                </tr>
                                <tr>
                                    <td><b>Instituição:</b></td>
                                    <td> TETO</td>
                                </tr>
                                <tr>
                                    <td><b>Valor Inicial:</b></td>
                                    <td>{{auctionCtrl.auctionToAdd.minimumBid | currency}}</td>
                                </tr>
                                <tr>
                                    <td><b>Taxa Administrativa:</b></td>
                                    <td> 0,00</td>
                                </tr>
                                <tr>
                                    <td><b>Envio:</b></td>
                                    <td> Contato entre as partes</td>
                                </tr>
                            </table>

                            <div class="container-fluid text-center">
                                <button type="submit" class="btn btn-lg btn-success">
                                    Tudo certo! Criar leilão
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- FIM DO PAINEL -->
                </div>
            </div>

        </form>
    </div>
</div>
