<div class="container">

    <div class="container-fluid auction">
        <form class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 wizard"
              ng-submit="auctionCtrl.addAuction()">


            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- Product Section -->
                    <div class="row wizard-section">
                        <div class="col-xs-12 title">
                            <h1>Doação</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-bag.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">

                            <label for="auction_product">
                                Escolha qual dos seus produtos você irá leiloar:
                            </label>

                            <select class="form-control" id="auction_product"
                                    ng-options="product as product.title for product in auctionCtrl.user.productList | filter:{status:'pending'}"
                                    ng-model="auctionCtrl.product" required>
                            </select>

                            <br>

                            Não tem produtos cadastrados?
                            <a href="#/user/products/add">
                                Criar novo produto
                            </a>
                        </div>
                    </div>

                    <!-- Institution Section -->
                    <div class="row wizard-section">
                        <div class="col-sm-12 title">
                            <h1>Instituição</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-institution.png" class="icon" data-pin-no-hover="true">
                        </div>


                        <div class="col-sm-10 form-group">

                            <label for="auction_institution">
                                Escolha a qual instituição o dinheiro será direcionado:
                            </label>

                            <div>
                                </br>

                                <select class="form-control" id="auction_institution"
                                        ng-options="institution as institution.name for institution in auctionCtrl.institutionList"
                                        ng-model="auctionCtrl.institution" required>
                                </select>
                            </div>

                            <div class="">

                                <div class="col-sm-6 text-center">
                                    <h1>
                                        {{auctionCtrl.institution.name}}
                                    </h1>

                                    <div>
                                        {{auctionCtrl.institution.city}}, {{auctionCtrl.institution.state}}
                                    </div>

                                    <div>
                                        <a ng-href="{{auctionCtrl.institution.page}}" target="_blank">
                                            {{auctionCtrl.institution.page}}</a>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="col-xs-12">
                                        <div class="dummy"></div>
                                        <div class="thumbnail-square img-circle"
                                             ng-style="{'background-image': 'url(data:image/*;base64,'+auctionCtrl.institution.logo+')'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Starting Price Section -->
                    <div class="row wizard-section">
                        <div class="col-xs-12 title">
                            <h1>Valor Inicial</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-price.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <label for="auction_price"> Qual o valor inicial? </label>

                            <input type="text" class="form-control" placeholder="Ex: 50,00" id="auction_price"
                                   ng-model="auctionCtrl.auctionToAdd.minimumBid" ui-money-mask
                                   ng-blur="auctionCtrl.validateMinimumBid()" required>
                            Valor inicial minímo: R$5,00.

                        </div>
                    </div>

                    <!-- Date Section -->
                    <div class="row wizard-section">
                        <div class="col-xs-12 title">
                            <h1>Data de Inicio e Tempo de leilão</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-date.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                                <label> Quando será iniciado seu leilão?</label>
                                <p>{{auctionCtrl.dt | date:'fullDate' }}</p>
                                <div style="display:inline-block;">
                                    <div uib-datepicker ng-model="auctionCtrl.dt"
                                         datepicker-options="auctionCtrl.options"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                                <b>Hora de Início:</b>

                                <div uib-timepicker ng-model="auctionCtrl.dt" ng-change="auctionCtrl.changed()"
                                     hour-step="auctionCtrl.hstep"
                                     minute-step="auctionCtrl.mstep"
                                     show-meridian="auctionCtrl.ismeridian"
                                     class="col-centered"></div>

                                <br>

                                <label> Tempo ativo:</label>
                                <select ng-model='auctionCtrl.finalTimeToAdd' ng-init="2" class="form-control"
                                        convert-to-number>
                                    <option value="1">1 dias</option>
                                    <option value="2">2 dias</option>
                                    <option value="3">3 dias</option>
                                    <option value="4">4 dias</option>
                                    <option value="5">5 dias</option>
                                    <option value="6">6 dias</option>
                                    <option value="7">7 dias</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <!-- Shipping Section -->
                    <div class="row wizard-section">
                        <div class="col-xs-12 title">
                            <h1>Envio</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-send.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <p>
                                Neste primeiro momento, o envio é combinado entre o
                                comprador e o doador.
                            </p>
                        </div>
                    </div>

                    <!-- Finish Section -->
                    <div class="row wizard-section">
                        <div class="col-xs-12 title">
                            <h1>Tudo certo?!</h1>
                        </div>

                        <div class="col-sm-2 hidden-xs">
                            <img src="images/auction-finish.png" class="icon" data-pin-no-hover="true">
                        </div>

                        <div class="col-sm-10 form-group">
                            <table class="table table-striped">
                                <tr>
                                    <td><b>Produto:</b></td>
                                    <td>{{auctionCtrl.product.title}}{{auctionCtrl.product? auctionCtrl.product.title:
                                        'Nenhum produto selecionado.'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Instituição:</b></td>
                                    <td> {{auctionCtrl.institution? auctionCtrl.institution.name: 'Nenhuma instituição
                                        selecionada.'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Valor Inicial:</b></td>
                                    <td>{{auctionCtrl.auctionToAdd.minimumBid | currency}}</td>
                                </tr>
                                <tr>
                                    <td><b>Taxa Administrativa:</b></td>
                                    <td>R$0,00</td>
                                </tr>
                                <tr>
                                    <td><b>Envio:</b></td>
                                    <td> Contato entre as partes</td>
                                </tr>
                            </table>

                            <div class="container-fluid text-center">
                                <button type="submit" class="btn btn-lg btn-success">
                                    Tudo certo! Criar leilão
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- FIM DO PAINEL -->
                </div>
            </div>

        </form>
    </div>
</div>
