<div class="no-pad-bot auction">
    <div class="container">

        <div class="col-sm-2 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Doador:</b>
                </div>
                <div class="panel-body text-center">
                    <div class="col-xs-12 image no-padding no-margin">
                        <div class="dummy"></div>
                        <div class="thumbnail-square"
                             ng-style="{'background-image': 'url(' + auctionDetailCtrl.donor.profilePicture +')'}">
                        </div>
                    </div>

                    <div class="donor-image">
                        <img ng-src="{{auctionDetailCtrl.donor.profilePicture}}" data-pin-no-hover="true"
                             class="img-responsive full-width" alt="">
                    </div>

                    <h4>{{auctionDetailCtrl.donor.name}}</h4>
                    {{auctionDetailCtrl.donor.address.city}}, {{auctionDetailCtrl.donor.address.state}}<br>
                </div>
            </div>

            <div class="panel panel-default" ng-click="auctionDetailCtrl.openInstitution()">
                <div class="panel-heading">
                    <b>Instituição:</b>
                </div>
                <div class="panel-body text-center">
                    <img ng-src="data:image/*;base64,{{auctionDetailCtrl.institution.logo}}" data-pin-no-hover="true"
                         class="img-responsive" alt="">

                    <h4>{{auctionDetailCtrl.institution.name}}</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">

                        <div class="title">
                            <h1>{{auctionDetailCtrl.product.title}}</h1>
                        </div>

                        <hr>

                        <div class="distance" ng-if="auctionDetailCtrl.distance">
                            <h2>Este produto está a <b>{{auctionDetailCtrl.distance}}</b> de você!</h2>
                        </div>

                        <div class="container-fluid auction-info no-padding">
                            <!-- Image -->
                            <div class="col-md-6 container-fluid auction-card" ng-if="auctionDetailCtrl.product">
                                <!--<img ng-src="data:image/*;base64,{{auctionDetailCtrl.product.imageList[0].base64}}"
                                     alt="" class="img-responsive">-->
                                <div class="col-xs-12 image">
                                    <div class="dummy"></div>
                                    <div class="thumbnail-square-contain"
                                         ng-style="{'background-image': 'url(data:image/*;base64,'+auctionDetailCtrl.product.imageList[0].base64+')'}">
                                    </div>
                                </div>
                            </div>

                            <!-- Details -->
                            <div class="col-md-6 text-center">
                                <div class="details">

                                    <button class="btn btn-lg btn-facebook btn-block"
                                            ng-click="auctionDetailCtrl.feed()">
                                        <i class="fa fa-facebook"></i>
                                        Compartilhar
                                    </button>

                                    <div class="counter"
                                         ng-if="!auctionDetailCtrl.auctionFinish || auctionDetailCtrl.auction.status === 'closed'"
                                         ng-class="{
                                            opened: (auctionDetailCtrl.auction.status === 'active'),
                                            closed: (auctionDetailCtrl.auction.status === 'closed'),
                                            canceled: (auctionDetailCtrl.auction.status === 'canceled'),
                                            scheduled: (auctionDetailCtrl.auction.status === 'pending')
                                         }">

                                        <div class="value">
                                            <p ng-if="auctionDetailCtrl.auctionFinish || auctionDetailCtrl.auction.status === 'closed'">
                                                Leilão Finalizado
                                            </p>

                                            <p ng-if="!auctionDetailCtrl.auctionFinish && auctionDetailCtrl.auction.status === 'canceled'">
                                                Leilão Cancelado
                                            </p>

                                            <p ng-if="!auctionDetailCtrl.auctionFinish && auctionDetailCtrl.auction.status === 'pending'">
                                                Inicia em:
                                            </p>

                                            <p ng-if="!auctionDetailCtrl.auctionFinish && auctionDetailCtrl.auction.status === 'active'">
                                                Termina em:
                                            </p>
                                        </div>

                                        <timer ng-if="auctionDetailCtrl.duration" countdown="auctionDetailCtrl.duration"
                                               max-time-unit="'day'"
                                               interval="1000" finish-callback="auctionDetailCtrl.finishAction()">
                                            {{days}}d {{hours<10?'0'+hours:hours}}h {{minutes<10?'0'+minutes:minutes}}m
                                            {{seconds <10? '0'+seconds:seconds}}s
                                        </timer>

                                    </div>
                                    <div class="value">
                                        <p ng-show="!auctionDetailCtrl.winningBid.bid">
                                            {{auctionDetailCtrl.auction.minimumBid | currency}}
                                        </p>

                                        <p ng-show="auctionDetailCtrl.winningBid.bid">{{auctionDetailCtrl.winningBid.bid
                                            | currency}}&nbsp;</p>

                                        <div
                                            ng-if="auctionDetailCtrl.winningBid.userId === auctionDetailCtrl.user.facebookId">
                                            Você esta Ganhando esse leilão!
                                        </div>
                                    </div>


                                    <form class="form-group no-padding no-margin" ng-submit="auctionDetailCtrl.bid()"
                                          ng-if="!auctionDetailCtrl.auctionFinish && auctionDetailCtrl.auction.status === 'active'">
                                        <div class="auction-form">
                                            <span id="bid">

                                                <br>
                                                    <label class="sr-only" for="input-amount">Valor (em reais)</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">R$</div>
                                                        <input type="number" class="form-control " id="input-amount"
                                                               placeholder="Valor" step="0.01"
                                                               ng-model="auctionDetailCtrl.newBid"
                                                               min='{{auctionDetailCtrl.auction.winningBid.bid ? auctionDetailCtrl.auction.winningBid.bid : auctionDetailCtrl.auction.minimumBid}}'>
                                                    </div>

                                                    <div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(2)"> +2</div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(5)"> +5</div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(10)"> +10</div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(20)"> +20</div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(50)"> +50</div>
                                                        <div class="btn btn-warning"
                                                             ng-click="auctionDetailCtrl.increaseBid(100)"> +100</div>
                                                    </div>

                                            </span>
                                        </div>

                                        <div class="button">
                                            <button class="btn btn-block btn-success btn-lg"
                                                    type="submit"
                                                    data-target="#bid">
                                                <i class="fa fa-gavel"></i> &nbsp; Dar Lance
                                            </button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>

                        <!-- IMAGES --><br>
                        &nbsp;
                        <div class="container-fluid">
                            <div class="loading" ng-show="!auctionDetailCtrl.product.imageList"></div>

                            <h2>IMAGENS</h2>
                            <div class="col-xs-4"
                                 ng-repeat="image in auctionDetailCtrl.product.imageList">


                                <div class="col-xs-12">
                                    <div class="dummy"></div>
                                    <div class="thumbnail-square-contain"
                                         ng-style="{'background-image': 'url(data:image/*;base64,{{image.base64}})'}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DESCRIPTION --><br>
                        <div class="container-fluid">
                            <h2> DESCRIÇÃO </h2>
                            <div ng-bind-html="auctionDetailCtrl.product.description"
                                 class="htmlBinding"></div>
                        </div>

                        <hr>

                        <!-- STATUS -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right"> CONDIÇÔES DO ITEM </label>

                            <div class="col-sm-9">
                                <p ng-if="!auctionDetailCtrl.product.isUsed"> *Produto Novo.</p>
                                <p ng-if="auctionDetailCtrl.product.isUsed"> *Produto Usado.</p>
                            </div>
                        </div>

                        <!-- SEND METHOD -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">ENVIO</label>
                            <div class="col-sm-9">
                                Contato entre as partes
                            </div>
                        </div>

                        <!-- PAYMENT -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">PAGAMENTO</label>
                            <div class="col-sm-9">
                                Relizado através do pagseguro
                            </div>
                        </div>

                        <!-- INITIAL VALUE -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">VALOR INICIAL</label>
                            <div class="col-sm-9">
                                {{auctionDetailCtrl.auction.minimumBid | currency}}
                            </div>
                        </div>

                        <!-- TAX -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">TAXA ADMINISTRATIVA</label>
                            <div class="col-sm-9">
                                R$00,00
                            </div>
                        </div>

                        <!-- DISTANCE -->
                        <div class="form-group row" ng-if="auctionDetailCtrl.distance">
                            <label class="col-sm-3 col-form-label text-right">DISTÂNCIA</label>
                            <div class="col-sm-9">
                                {{auctionDetailCtrl.distance}}
                            </div>
                        </div>

                        <hr>

                        <!-- BIDS --><br>
                        <div class="container-fluid">
                            <h2>ÚLTIMOS LANCES: &nbsp;</h2>

                            <table class="table">
                                <tbody>
                                <tr ng-repeat="bid in auctionDetailCtrl.auction.bidList | orderBy:{bid:true} | limitTo: 5 | filter:{isDeleted:false}"
                                    ng-class="{
                                        warning: (
                                            bid.userId === auctionDetailCtrl.user.facebookId &&
                                            bid !== auctionDetailCtrl.winningBid
                                        ),
                                        success: (
                                            bid === auctionDetailCtrl.winningBid && bid.userId === auctionDetailCtrl.user.facebookId
                                        )
                                    }">

                                    <td>{{bid.bid | currency}}</td>
                                    <td>{{bid.date | date:'dd/MM/yyyy hh:mm'}}</td>
                                    <td><span
                                        ng-if="bid.userId === auctionDetailCtrl.user.facebookId">Esse lance é seu!</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

