<div class="no-pad-bot auction">
    <div class="container show">

        <div class="col-sm-2 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="#/users/1">
                        <img src="{{auctionDetailCtrl.profilePicture}}" class="img-responsive img-circle" alt="">
                        <h4>{{auctionDetailCtrl.user.name}}</h4>
                    </a>
                    Curitiba, Paraná <br>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="">
                        <img src="images/auction-institution.png" class="img-responsive" alt="">
                        <h4>TETO</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row title">
                            <h1>{{auctionDetailCtrl.product.title}}</h1>
                        </div>

                        <div class="row info">
                            <div class="col-sm-6">
                                <img src="images/product_playstation_3.jpg" alt="" class="img-responsive">
                            </div>

                            <div class="col-sm-6 text-center">
                                <div class="details">
                                    <div class="counter">
                                        <timer countdown="auctionDetailCtrl.duration" max-time-unit="'hour'"
                                               interval="1000">
                                            {{hours}}:{{minutes}}:{{seconds}}
                                        </timer>
                                    </div>
                                    <div class="value">
                                        <p>{{auctionDetailCtrl.auction.bidList[auctionDetailCtrl.auction.bidList.length - 1].bid
                                            | currency:'R$ '}}</p>
                                        <table class="table">
                                            <tr>
                                                <td class="text-right col-xs-6">{{auctionDetailCtrl.auction.minimumBid
                                                    | currency:'R$ '}}
                                                </td>
                                                <td class=" text-left col-xs-6">valor inicial</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right col-xs-6">+ R$ 0,00</td>
                                                <td class=" text-left col-xs-6">de taxa administrativa.</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="button">
                                        <button class="btn btn-block btn-success btn-lg"
                                                ng-click="auctionDetailCtrl.showBidForm = !auctionDetailCtrl.showBidForm"
                                                data-target="#bid">
                                            <i class="fa fa-gavel"></i> &nbsp; Dar Lance
                                        </button>
                                    </div>
                                </div>
                                <span id="bid" ng-if="auctionDetailCtrl.showBidForm">
                                    <br>
                                    <form class="form-group">
                                        <label class="sr-only" for="input-amount">Valor (em reais)</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">R$</div>
                                            <input type="number" class="form-control " id="input-amount"
                                                   placeholder="Valor" step="0.01" ng-model="auctionDetailCtrl.newBid">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="submit" ng-click="auctionDetailCtrl.bid()">Confirmar</button>
                                              </span>
                                        </div>
                                    </form>
                                </span>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <h2> Descrição </h2>
                            <p>{{auctionDetailCtrl.product.description}}</p>

                            <p ng-if="!auctionDetailCtrl.product.isUsed"> *Produto Novo.</p>
                            <p ng-if="auctionDetailCtrl.product.isUsed"> *Produto Usado.</p>
                        </div>


                        <br>

                        <div class="row text-center">
                            <div class="col-xs-4">
                                <img src="images/auction-institution.png" class="info-icon" alt="">
                                <h2>INSTITUIÇÃO</h2>
                                <p>
                                    TETO
                                </p>
                            </div>

                            <div class="col-xs-4">
                                <img src="images/auction-send.png" class="info-icon" alt="">
                                <h2>ENVIO</h2>
                                <p>Contato entre as partes</p>
                            </div>

                            <div class="col-xs-4">
                                <img src="images/auction-price.png" class="info-icon" alt="">
                                <h2>PAGAMENTO</h2>
                                <p>Relizado através do pagseguro</p>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <h2>
                                Ultimos Lances: &nbsp;
                                <button class="btn btn-default btn-xs">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </h2>
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="bid in auctionDetailCtrl.auction.bidList | orderBy:bid:true | limitTo: 5">
                                    <td>{{bid.bid | currency:'R$ '}}</td>
                                    <td>{{bid.date | date:'dd/MM/yyyy hh:mm'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

