<div ng-include="'views/common/components/header.html'"></div>
<div class="no-pad-bot content auction">
    <div class="container show">

        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="#/users/1">
                        <img src="images/user_profile.jpg" class="img-responsive img-circle" alt="">
                        <h4>Fulano da Silva</h4>
                    </a>
                    Curitiba, Paraná <br>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="">
                        <img src="images/auction-institution.png" class="img-responsive" alt="">
                        <h4>TETO</h4>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>

        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row title">
                            <h1>Play Station 3 - 500 gb</h1>
                        </div>

                        <div class="row info">
                            <div class="col-sm-6">
                                <img src="images/product_playstation_3.jpg" alt="" class="img-responsive">
                            </div>

                            <div class="col-sm-6 text-center">
                                <div class="details">
                                    <div class="counter">
                                        <p>02 : 12 : 41 : 28</p>
                                    </div>

                                    <div class="value">
                                        <p> R$ 389,90 </p>
                                        <table class="table">
                                            <tr>
                                                <td class="text-right col-xs-6">R$ 140,00</td>
                                                <td class=" text-left col-xs-6">valor inicial</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right col-xs-6">+ R$ 244,00</td>
                                                <td class=" text-left col-xs-6">de lances</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right col-xs-6">+ R$ 5,90</td>
                                                <td class=" text-left col-xs-6">de taxa administrativa.</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="button">
                                        <button class="btn btn-block btn-success btn-lg">
                                            <i class="fa fa-gavel"></i> &nbsp; Dar Lance
                                        </button>
                                    </div>

                                    <div class="institution">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <h2> Descrição </h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum
                            </p>

                            <h2> Estado de Conservação:</h2>
                            <p> Em bom estado, mas há leves riscos.</p>

                            <h2> Motivos da doação:</h2>
                            <ul>
                                <li>Não uso mais.</li>
                                <li>Só tem ocupado espaço na estante.</li>
                            </ul>

                        </div>


                        <br>

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="images/auction-institution.png" class="img-responsive" alt="">
                            </div>

                            <div class="col-xs-4">
                                <img src="images/auction-send.png" class="img-responsive" alt="">
                            </div>

                            <div class="col-xs-4">
                                <img src="images/auction-price.png" class="img-responsive" alt="">
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <h2>
                                Ultimos Lances: &nbsp;
                                <button class="btn btn-default btn-xs">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </h2>
                            <table class="table table-striped">
                                <tbody>
                                <tr class="info">
                                    <td>R$550,00</td>
                                    <td>18/10/2016 22:24:33</td>
                                    <td class="col-xs-1 text-center">
                                        <button class="btn btn-danger btn-xs">
                                            <i class="fa fa-close"></i>
                                        </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td>R$340,00</td>
                                    <td>18/10/2016 17:04:03</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>R$290,00</td>
                                    <td>18/10/2016 12:44:23</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>R$280,00</td>
                                    <td>18/10/2016 10:34:53</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>R$210,00</td>
                                    <td>17/10/2016 22:44:23</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="container-fluid">
                            <div class="col-md-6 col-centered">


                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="sr-only" for="input-amount">Valor (em reais)</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">R$</div>
                                            <input type="number" class="form-control " id="input-amount"
                                                   placeholder="Valor">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-lg">Dar Lance</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/components/footer.html'"></div>

