<div class="container-fluid auction">


    <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 wizard">

        <!-- Product Section -->
        <div class="row section text-center">
            <img src="images/auction-bag.png" class="step-image" data-pin-no-hover="true">
            <h1>1</h1>

            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered">
                <div class="form-group">
                    <label for="auction_product">
                        Escolha qual dos seus produtos você irá leiloar:
                    </label>
                    <select class="form-control" id="auction_product">
                        <option value="28">Cama Elástica</option>
                        <option value="28">Vestido de Festa</option>
                        <option value="28">Berçario</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Institution Section -->
        <div class="row section text-center">
            <img src="images/auction-institution.png" class="step-image" data-pin-no-hover="true">
            <h1>2</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <div class="form-group">
                    <p>
                        Atualmente, nosso único parceiro para recebemento das doações, é o TETO. Você pode conhecer
                        mais sobre o trabalho deles através do link:<br>

                        <a href="http://www.techo.org/paises/brasil/">http://www.techo.org/paises/brasil/</a>
                    </p>

                    <div class="checkbox">
                        <label><input type="checkbox"><b>Eu aceito que o valor sera entregue ao TETO.</b></label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cover Section -->
        <div class="row section text-center">
            <img src="images/auction-image.png" class="step-image" data-pin-no-hover="true">
            <h1>3</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <p>
                    Por favor, escolha uma das imagens enviadas para servir como capa do seu produto.
                </p>

                <div class="row">
                    <img src="images/cup.jpg" class="cover-image" data-pin-no-hover="true">
                    <img src="images/cup.jpg" class="cover-image" data-pin-no-hover="true">
                    <img src="images/cup.jpg" class="cover-image" data-pin-no-hover="true">
                    <img src="images/cup.jpg" class="cover-image" data-pin-no-hover="true">
                </div>
            </div>
        </div>

        <!-- Stating Price Section -->
        <div class="row section text-center">
            <img src="images/auction-price.png" class="step-image" data-pin-no-hover="true">
            <h1>4</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <div class="form-group">
                    <label for="auction_price"> Qual o valor inicial?</label>
                    <input type="number" class="form-control" id="auction_price" min="5"
                           placeholder="Ex: R$ 50,00">
                </div>
            </div>
        </div>

        <!-- Date Section -->
        <div class="row section text-center">
            <img src="images/auction-date.png" class="step-image" data-pin-no-hover="true">
            <h1>5</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <b> Para qual data será iniciado seu leilão?</b>

                <p>{{dt | date:'fullDate' }}</p>

                <div class="row well well-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div style="display:inline-block;">
                            <div uib-datepicker ng-model="dt" datepicker-options="options"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <b>Hora de Início:</b>

                        <div uib-timepicker ng-model="dt" ng-change="changed()" hour-step="hstep" minute-step="mstep"
                             show-meridian="ismeridian"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shipping Section -->
        <div class="row section text-center">
            <img src="images/auction-send.png" class="step-image" data-pin-no-hover="true">
            <h1>6</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <p>
                    Neste primeiro momento, a única opção de envio é através do contato
                    do comprador com o vendedor.
                </p>
            </div>
        </div>

        <!-- Finish Section -->
        <div class="row section text-center">
            <img src="images/auction-finish.png" class="step-image" data-pin-no-hover="true">
            <h1>Feito!</h1>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
                <table class="table table-striped">
                    <tr>
                        <td><b>Produto:</b></td>
                        <td> Vestido</td>
                    </tr>
                    <tr>
                        <td><b>Instituição:</b></td>
                        <td> TETO</td>
                    </tr>
                    <tr>
                        <td><b>Valor Inicial:</b></td>
                        <td> R$ 25,00</td>
                    </tr>
                    <tr>
                        <td><b>Taxa Administrativa:</b></td>
                        <td> 0,00</td>
                    </tr>
                    <tr>
                        <td><b>Envio:</b></td>
                        <td> Contato entre as partes</td>
                    </tr>
                </table>

                <div class="container-fluid text-center">
                    <button type="button" class="btn btn-lg btn-success" ng-click="auctionCtrl.add()">
                        Tudo certo! Criar leilão
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
