
<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-sm-4 col-md-4 col-lg-4">Nome</th>
    <th class="col-sm-4 col-md-4 col-lg-4">Data de criação</th>
    <th class="col-sm-4 col-md-4 col-lg-4">Estado:</th>
    <th class="col-sm-4 col-md-4 col-lg-4">Ações:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Camera Fotográfica</td>
    <td>07/09/2016</td>
    <td>Pendente</td>
    <td></td>
  </tr>
  <tr>
    <td>Play Station 2</td>
    <td>05/09/2016</td>
    <td>Leiloado</td>
    <td></td>
  </tr>
  <tr>
    <td>Notebook Acer</td>
    <td>01/02/2016</td>
    <td>Leiloado</td>
    <td></td>
  </tr>
  </tbody>
</table>
