<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Nome</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Estado:</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Leilão:</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in productCtrl.user.productList | filter:{isDeleted:false}" ng-click="productCtrl.productDetail(product)">
        <td>{{product.title}}</td>
        <td>{{product.status}}</td>

        <td>
            <button ng-show="product.status === 'Pendente'" class="btn btn-xs btn-success">
                <i class="fa fa-flag"></i> &nbsp;
                Iniciar Leilão
            </button>

            <button ng-show="product.status ==='Em Leilão'" class="btn btn-xs btn-danger">
                <i class="fa fa-stop"></i> &nbsp;
                Parar Leilão
            </button>
        </td>

        <td>
            <button class="btn btn-xs btn-danger" ng-show="product.status ==='Pendente'" ng-click="productCtrl.removeProduct(product)">
                <i class="fa fa-trash"></i>
            </button>
        </td>

    </tr>
    </tbody>
</table>
