<div class="panel panel-default">
    <div class="panel-body">

        <div class="margin-default">

            <form ng-submit="productCtrl.addProduct()">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="product_title">Título da Doação:</label>
                        <input type="text" class="form-control" ng-model="productCtrl.newProduct.title" ng-disabled="productCtrl.addLoad"
                               id="product_title"
                               placeholder="Ex: Camera Fotográfica" required>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="product_description">Descrição do produto:</label>
                        <!--textarea class="form-control" ng-model="productCtrl.newProduct.description"
                                  id="product_description"
                                  placeholder="Ex: Possui 45 megapixels, com zoom ótico de 30x, visor lcd, levemente riscada."
                                  rows="5" required>
                        </textarea-->

                        <div text-angular
                             class="textAngular-toolbar"
                             ta-toolbar="[
                                ['h1','h3','h5'],
                                ['bold','italics','underline'],
                                ['p', 'ul', 'ol'],
                                ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                ['insertImage','insertLink']]"
                             ng-model="productCtrl.newProduct.description"
                             id="product_description"
                             required></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="product_isUsed">É usado?
                            <input type="checkbox" class="form-control" ng-model="productCtrl.newProduct.isUsed"
                                   id="product_isUsed">
                            </input>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12 text-center" ng-if="productCtrl.images.length<3">
                    <label class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Escolher Imagens <input type="file" style="display: none;"
                                                ng-model="productCtrl.image"
                                                on-after-validate="productCtrl.addImage"
                                                maxsize="5000" base-sixty-four-input>
                    </label>
                </div>

                <div class="col-sm-12 container-fluid image-manager">

                    <div class="col-xs-4" ng-repeat="image in productCtrl.images">
                        <div class="panel panel-default">
                            <div class="col-xs-12">
                                <div class="dummy"></div>
                                <div class="thumbnail-square"
                                     ng-style="{'background-image': 'url(data:image/*;base64,{{image.base64}})'}">
                                    <div class="fade-hover text-right">
                                        <button class="btn btn-danger btn-xs" ng-disabled="productCtrl.addLoad"
                                                ng-click="productCtrl.removeImage($index)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12" ng-if="productCtrl.images.length>=3">*Número máximo de fotos atingido.</div>


                <div class="container-fluid margin-default">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="submit" class="btn btn-success" ng-disabled="productCtrl.addLoad">
                            Cadastrar Produto
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





