<div ng-include="'views/common/components/header.html'"></div>
<div class="no-pad-bot content user">
    <div ng-include="'views/user/components/header.html'"></div>

    <div class="container">


        <div ng-include="'views/user/components/profile_actions.html'"></div>

        <div class="col-sm-9 col-md-9 col-lg-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Minhas Doações
                    </div>
                </div>

                <div class="panel-body">
                    <div ng-include="'views/product/components/list_table.html'"></div>

                    <div class="container-fluid margin-default">
                        <p>
                            Aqui estão listadas todos os seu produtos. Você pode criar um novo leilão para seu produto.
                            Apagar um produto, ou editar as informações.
                        </p>

                        <div class="row text-center product-new">
                            <a href="#/user/products/new" class="btn btn-success btn-md">
                                <i class="fa fa-plus"></i> &nbsp;
                                Adicionar um novo produto
                            </a>
                        </div>
                    </div>


                </div>
            </div>




        </div>
    </div>


</div>
<div ng-include="'views/common/components/footer.html'"></div>
