<div class="container">
    <div class="col-sm-12 col-md-10 col-centered">

        <div class="login-box col-sm-12 col-md-10 col-lg-8 col-centered">
            <h1>Bem vindo ao Lance Solidário!</h1>
            <span>Ajude instituições leiloando ou comprando itens doados</span>

            <div class="alert alert-danger">
                Para usufruir do serviço, é necessário se registrar com sua conta do facebook.
            </div>

            <div class="">
                <div class="col-sm-12 col-md-6 col-lg-4 col-centered">
                    <button ng-click="loginCtrl.login()">Login com o Facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>
