<div class="container">
    <div class="col-sm-12 col-md-10 col-centered">

        <div class="login-box col-sm-12 col-md-10 col-lg-8 col-centered">
            <h1>Bem vindo ao Lance Solidário!</h1>
            <span>Ajude instituições leiloando ou comprando itens doados</span>

            <div class="alert alert-danger">
                Para usufruir do serviço, é necessário se registrar com sua conta do facebook.
            </div>

            <div class="">
                <div class="col-sm-12 col-md-6 col-lg-4 col-centered">
                    <div class="facebook-login">
                        <div id="fb-root"></div>

                        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false"
                             data-auto-logout-link="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
