<div class="container">
    <div class="login-box col-centered text-center">
        <h1>Bem vindo ao Lance Solidário!</h1>
        <p>Ajude instituições leiloando ou comprando itens doados</p>

        <p>Para ter acesso ao Lance Solidário, é necessário possuir uma conta no facebook. Caso ainda não tenha, é gratis.</p>
        <div class="">
            <div class="">
                <button class=" btn btn-lg btn-facebook"
                        ng-click="loginCtrl.login()">
                    <i class="fa fa-facebook"></i>
                    Login com o Facebook
                </button>
            </div>
        </div>
    </div>
</div>
