<div class="no-pad-bot user">
    <div ng-include="'views/user/components/header.html'"></div>

    <div class="container">


        <div ng-include="'views/user/components/profile_actions.html'"></div>

        <div class="col-sm-9 col-md-9 col-lg-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Minhas Compras
                        <div class="row text-center panel-heading-button pull-right">
                            <button ng-click = "purchaseListCtrl.refreshPage()" class="btn  btn-xs">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-striped table-selectable">
                        <thead>
                        <tr>
                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Leilão</td>
                            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Produto</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Valor</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Pagamento</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Entrega</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="purchase in purchaseListCtrl.purchaseList" ng-click="purchaseListCtrl.purchaseDetail(purchase)">
                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{purchase.auctionId}}</td>
                            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{purchase.productTitle}}</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{purchase.maxBid | currency}}</td>

                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="!purchase.isCanceled">{{purchase.isPaid? 'Pago' : 'Aguardando Pagamento'}}</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="purchase.isCanceled">{{'Compra Cancelada'}}</td>

                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="!purchase.isCanceled">{{purchase.isDelivered ? 'Entregue':'Pendente'}}</td>
                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="purchase.isCanceled">{{'Compra Cancelada'}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <br/>Caso tenha acabado de ganhar um leilão, espere alguns instantes, em até 5 minutos sua compra será gerada!!!

            </div>
        </div>

    </div>

</div>
