<div class="content">
    <div class="about">

        <div class="container">

            <div class="col-lg-8 col-md-10 col-sm-12 col-centered text-justify">
                <h1 class="text-center">Sobre nós</h1>
                <h2>Quem Somos?</h2>
                <p>
                    [Dizer quem somos, nossa formação, nossas experiencias] <br>

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum"
                </p>

                <h2>O que é?</h2>
                <p>
                    [Explicar o Lance solidário] <br>

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum"
                </p>

                <h2>Por que?</h2>
                <p>
                    [Contar qual foi a nossa motivação em desenvolver esse projeto.] <br>

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum"
                </p>

                <h2>Planos futuros?</h2>
                <p>
                    [Dizer quais os próximos passos para a plataforma] <br>

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum"
                </p>

                <br>
                <hr>
                <br>


                <h1 class="text-center">Equipe de Desenvolvimento</h1>
                <div class="container-fluid text-center">

                    <!-- Card partners -->
                    <div class="col-xs-4 col-sm-3">
                        <img src="../images/dev_alisson.jpg" class="img-responsive img-circle" alt="">

                        <h4>
                            Alisson Krul
                        </h4>
                    </div>

                    <!-- Card Developers -->
                    <div class="col-xs-4 col-sm-3">
                        <img src="../images/dev_bruno.jpg" class="img-responsive img-circle" alt="">

                        <h4>
                           Bruno Braga
                        </h4>
                    </div>

                    <!-- Card Developers -->
                    <div class="col-xs-4 col-sm-3">
                        <img src="../images/dev_carlos.jpg" class="img-responsive img-circle" alt="">

                        <h4>
                            Carlos Grispan
                        </h4>
                    </div>

                    <!-- Card Developers -->
                    <div class="col-xs-4 col-sm-3">
                        <img src="../images/dev_lucas.jpg" class="img-responsive img-circle" alt="">
                        <h4>
                            Lucas Kindinger
                        </h4>
                    </div>
                </div>

                <br>
                <hr>
                <br>
            </div>

            <h1 class="text-center">Nossos Parceiros</h1>
            <div class="container-fluid partners text-center">

                <!-- Card partners -->
                <div class="col-xs-4 col-sm-2 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="col-xs-12 image">
                            <div class="dummy"></div>
                            <div class="thumbnail-square"
                                 ng-style="{'background-image': 'url(../images/partner_ufpr.jpg)'}">
                            </div>
                        </div>
                        <div class="panel-body">
                            UFPR
                        </div>
                    </div>
                </div>

                <!-- Card partners -->
                <div class="col-xs-4 col-sm-2">
                    <div class="panel panel-default">
                        <div class="col-xs-12 image">
                            <div class="dummy"></div>
                            <div class="thumbnail-square"
                                 ng-style="{'background-image': 'url(../images/partner_gobee.png)'}">
                            </div>
                        </div>
                        <div class="panel-body">
                            GoBee
                        </div>
                    </div>
                </div>

                <!-- Card partners -->
                <div class="col-xs-4 col-sm-2">
                    <div class="panel panel-default">
                        <div class="col-xs-12 image">
                            <div class="dummy"></div>
                            <div class="thumbnail-square"
                                 ng-style="{'background-image': 'url(../images/partner_tuntscorp.png)'}">
                            </div>
                        </div>
                        <div class="panel-body">
                            Tuntscorp
                        </div>
                    </div>
                </div>

                <!-- Card partners -->
                <div class="col-xs-4 col-sm-2">
                    <div class="panel panel-default">
                        <a class="col-xs-12 image" ng-href="#/institutions/1">
                            <div class="dummy"></div>
                            <div class="thumbnail-square"
                                 ng-style="{'background-image': 'url(../images/institution-teto.png)'}">
                            </div>
                        </a>
                        <div class="panel-body">
                            TETO
                        </div>
                    </div>
                </div>

                <!-- Card partners -->
                <div class="col-xs-4 col-sm-2">
                    <div class="panel panel-default">
                        <a class="col-xs-12 image" ng-href="#/institutions/2">
                            <div class="dummy"></div>
                            <div class="thumbnail-square"
                                 ng-style="{'background-image': 'url(../images/partner_endeleza.jpg)'}">
                            </div>
                        </a>
                        <div class="panel-body">
                            Endeleza
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

