<div class="no-pad-bot">
    <div class="row full-section no-padding no-margin">
        <div class="back-image vertical-centered">
            <div class="container text-center">

                <h1>Vamos ajudar...</h1>
                <h2>... Comprando ou leiloando!?</h2>
                <a href="#/auctions" class="btn btn-primary btn-lg">Comece já</a>
            </div>

        </div>
    </div>

    <div class="container home-info v-m-parent">
        <div class="row v-m-child">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">O que é?</h2>
                <p>
                    O lance solidário é uma plataforma de leilão online voltada a ajudar instituições parceiras
                    fornecendo capital livre.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">Como funciona?</h2>
                <p>
                    Qualquer pessoa pode leiloar, ou comprar, e o dinheiro arrecadado é enviado para uma de nossas
                    instituições parceiras.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">Por quê?</h2>
                <p>
                    As instituições do terceiro setor, por conta da baixa generosidade da sociedade e da burocracia
                    envolvida, possuem uma grande dificuldade de arrecadar capital livre.
                </p>
            </div>
        </div>
    </div>

    <div class="container auction">
        <div class="row">
            <h2>Leilões Acontecendo:</h2>
            <hr>

            <div class="loading" ng-show="!(homeCtrl.auctionList | filter: {status: 'active'})">
            </div>

            <span ng-if="(homeCtrl.auctionList | filter: {status: 'active'}).length <= 0">
                Não há leilões abertos no momento.
            </span>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3"
                 ng-repeat="auction in homeCtrl.auctionList | filter:{status:'active'} | orderBy:endDate | limitTo:4">



                <div class="panel panel-default auction-card" ng-click="homeCtrl.openDetail(auction)">
                    <div class="col-xs-12 image">
                        <div class="dummy"></div>
                        <div class="thumbnail-square"
                             ng-style="{'background-image': 'url(data:image/*;base64,{{auction.image}})'}">
                        </div>
                    </div>



                    <div class="counter text-center" ng-class="{
                            opened: (auction.status === 'active'),
                            closed: (auction.status === 'closed'),
                            scheduled: (auction.status === 'pending')
                         }">

                        <div class="text-center">
                            <span ng-if="auction.status === 'active'">Termina em</span>
                            <span ng-if="auction.status === 'pending'">Começa em</span>
                            <span ng-if="auction.status === 'closed'">Finalizado</span>
                        </div>

                        <timer countdown="auction.duration"
                               max-time-unit="'hour'"
                               interval="1000">
                            {{hours}}:{{minutes}}:{{seconds}}
                        </timer>
                    </div>

                    <div class="value text-center">
                        {{auction.maxBid ? auction.maxBid : auction.minimumBid| currency}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
