<div class="no-pad-bot">
    <div class="row full-section no-padding no-margin">
        <div class="back-image vertical-centered">
            <div class="container text-center">

                <h1>Vamos ajudar...</h1>
                <h2>... Comprando ou leiloando!?</h2>
                <a href="#/auctions" class="btn btn-primary btn-lg">Comece já</a>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">O que é?</h2>
                <p>
                    O lance solidário é uma plataforma de leilão online voltada a ajudar instituições parceiras
                    fornecendo capital livre.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">Como funciona?</h2>
                <p>
                    Qualquer pessoa pode leiloar, ou comprar, e o dinheiro arrecadado é enviado para uma de nossas
                    instituições parceiras.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h2 class="text-center">Por quê?</h2>
                <p>
                    As instituições do terceiro setor, por conta da baixa generosidade da sociedade e da burocracia
                    envolvida, possuem uma grande dificuldade de arrecadar capital livre.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- Card 1 -->
            <a href="#/auctions/template" class="link-no-style">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="panel panel-default auction-card">
                        <div class="panel-image">
                            <img src="../images/product_playstation_3.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="counter text-center">
                            00:00:00:00
                        </div>

                        <div class="value text-center">
                            R$399,00
                        </div>
                    </div>
                </div>
            </a>

            <!-- Card 2 -->
            <a href="#/auctions/template" class="link-no-style">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="panel panel-default auction-card">
                        <div class="panel-image">
                            <img src="../images/product_playstation_3.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="counter text-center">
                            00:00:00:00
                        </div>

                        <div class="value text-center">
                            R$399,00
                        </div>
                    </div>
                </div>
            </a>

            <!-- Card 3 -->
            <a href="#/auctions/template" class="link-no-style">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="panel panel-default auction-card">
                        <div class="panel-image">
                            <img src="../images/product_playstation_3.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="counter text-center">
                            00:00:00:00
                        </div>

                        <div class="value text-center">
                            R$399,00
                        </div>
                    </div>
                </div>
            </a>

            <!-- Card 4 -->
            <a href="#/auctions/template" class="link-no-style">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="panel panel-default auction-card">
                        <div class="panel-image">
                            <img src="../images/product_playstation_3.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="counter text-center">
                            00:00:00:00
                        </div>

                        <div class="value text-center">
                            R$399,00
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
