<div class="no-pad-bot">
    <div class="row full-section no-padding no-margin">
        <div class="back-image vertical-centered">
            <div class="container text-center">

                <h1>Vamos ajudar...</h1>
                <h2>... Comprando ou leiloando!?</h2>
                <button class="btn btn-primary btn-lg">Saiba como</button>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1></h1>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h1>O que é?</h1>
                <p>
                    O lance solidário é uma plataforma de leilão online voltada a ajudar instituições parceiras
                    fornecendo
                    capital livre.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h1>Como funciona?</h1>
                <p>
                    Qualquer pessoa pode leiloar, ou comprar, e o dinheiro arrecadado é enviado para uma de nossas
                    instituições parceiras.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-justify">
                <h1>Por quê?</h1>
                <p>
                    As instituições do terceiro setor, por conta da baixa generosidade da sociedade e da burocracia,
                    possuem uma grande dificuldade de arrecadar capital livre.
                </p>
            </div>
        </div>
    </div>
</div>
