<div class="footer row full-section vertical-centered">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Nos acompanhe:</h1>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="text-center">
                        <h1>Sobre</h1>
                        <a href="">Quem somos</a><br>
                        <a href="">Parceiros</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="text-center">
                        <h1>Como ajudar</h1>
                    </div>
                    <div class="text-center">
                        <h1>Contato</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row copyright">
            <p> 2016&copy; Lance Solidário. Desenvolvido por Alisson Krul, Bruno Braga, Carlos Grispan, Lucas Kindinger.</p>
        </div>
    </div>

</div>


<!--
<footer class="footer">
    <div class="container">
        <p class="text-muted">Desenvolvido por Alisson Krul, Bruno Henrique, Carlos Augusto e Lucas Ernesto</p>
    </div>
</footer>

-->
