<nav class="navbar navbar-top navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <label for="" class="navbar-toggle"
                   ng-init="navCollapsed = true"
                   ng-click="navCollapsed = !navCollapsed"
                   aria-controls="navbar">
                <i class="fa fa-2x fa-bars"></i>
            </label>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
            <ul class="nav navbar-nav navbar-left">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Início</a></li>
                    <li><a href="#/about">Sobre</a></li>
                    <li><a href="#/about">Quem somos</a></li>
                    <li><a href="#/partiners">Parceiros</a></li>
                    <li><a href="#/login">Entrar</a></li>
                    <li><a href="#/login">Inscrever-se</a></li>
                </ul>
            </ul>

            <ul class="nav navbar-nav navbar-right" uib-dropdown dropdown-append-to-body>

                <li>
                    <a href="#/user">Olá, {{user.name}}</a>
                </li>

                <li><a href="#/user/auctions/new">Leiloar um item</a></li>
                <li class="options">
                    <a href="" uib-dropdown-toggle><i class="fa fa-gear"></i></a>
                    <ul class=" dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a href="#/user">&nbsp;Painel</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#/user/purchases">&nbsp; Compras</a></li>
                        <li role="menuitem"><a href="#/user/products">&nbsp; Doações</a></li>

                        <li class="divider"></li>

                        <li role="menuitem"><a href="#/user">&nbsp;Meu perfil</a></li>
                        <li role="menuitem"><a href="#/user/edit">&nbsp;Configurações</a></li>

                        <li class="divider"></li>

                        <li role="menuitem"><a href="#/loggout">&nbsp; Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
