<nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <label for="" class="navbar-toggle"
                   ng-init="navCollapsed = true"
                   ng-click="navCollapsed = !navCollapsed"
                   aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </label>

            <a class="navbar-brand" href="#">Lance Solidário</a>

            <div id="navbar" class="collapse navbar-collapse"  ng-class="{'in':!navCollapsed}">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/home">Início</a></li>
                    <li><a href="#/about">Sobre</a></li>
                    <li><a href="#/login">Entrar</a></li>
                    <li><a href="#/login">Inscrever-se</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
